@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://getwallpapers.com/wallpaper/full/3/6/9/147560.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Viga', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgb(0 0 0 / 92%) !important;
}

#logo, #guia1, #guia2, #guia3, h4, .texto{
  color: white;
}
#capa{
  height: 550px;
  margin-top: auto;
  margin-bottom: auto;
  width: 1150px;
  background-color: rgb(0 0 0 / 92%) !important;
}

#lado1{
  margin-top: 15%;
  padding-left: 5%;
}
#lado2{
  margin-top: 10%;
  padding-left: 5%;
}

.w-50 {
  width: 100%!important;
}

.navbar{
  background-color: rgb(0 0 0 / 92%) !important;
}
.navbar-light .navbar-brand {
  color: white;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #6c757d;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.resumo{
  text-align: justify;
}